
/* http://meyerweb.com/eric/tools/css/reset/ 
 *  *    v2.0 | 20110126
 *   *       License: none (public domain)
 *    *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

/* main styles */

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/handmadepaper.png');
}

/* map styles */

.map-container {
  display: inline-block;
  height: 800px;
  width: 60%;
  position: relative;
}

.map-canvas {
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
  height: 100%;
  width: 100%;
}

/* landing page */

.city-selection {
  margin: 20em auto;
  width: 22em;
}

.city-selection h1 {
  font-size: 140%;
  font-weight: 900;
  letter-spacing: 0.04rem;
  margin: 1em auto;
  width: 8em;
}

.city-select {
  font-size: 200%;
  margin: 0 0.5em;
  display: inline;
}

.city-button {
  background-color: #ACBFE6;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.04rem;
  outline: none;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
}

.nav {
  background-color: #AAAAAA;
}

.nav-child {
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1em;
}

.nav-child:hover {
  color: #EEEEEE;
}

.content {
  margin: 2em 2em;
  display: block;
}

/* info view styles */

.button {
  color: #333333;
  background-color: #AAAAAA;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.04rem;
  outline: none;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  width: 6.2em;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  background-color: #CFCFCF;
}

.info-content {
  width: 100%;
}

.info-content h1, h2, h3 {
  padding: 0.5em 0;
  font-size: 2em;
  letter-spacing: 0.04rem;
  font-weight: 600;
}

.info-content h3 span {
  padding: 0 0.3em 0 0;
}

.expand {
  margin-bottom: 0.5em;
}

.info-container {
  display: inline-block;
  height: 800px;
  margin: 0 0 0 2%;
  padding: 0 10px 0 10px;
  width: 30%;
  vertical-align: top;
}

.infoview-area {
  padding: 0 1.5em 1.5em 1.5em;
  background-color: #ECECEC;
}

.pano {
  border: 1px solid black;
  height: 31.3em;
  margin: 1.25em 0 0 0;
  width: 100%;
}

.close-button {
  color: #333333;
  cursor: pointer;
  font-size: 180%;
  margin: 0 0 0 98%;
}

/* icons */

.info-view-icon {
  background-repeat: no-repeat;
  background-size: 35px 35px;
  display: inline-block;
  height: 35px;
  width: 35px;
}

.icon-sun { background-image: url('../images/sun.svg'); }

.icon-moon { background-image: url('../images/moon.svg'); }
