<div class="nav">
  <div class="nav-child button" data-id="landing-button">Cities</div>
  <div class="nav-child button" data-id="show-chart">Chart</div>
</div>
<div class="content">
  <div class="map-container">
    <div class="map-canvas" data-id="map-canvas"></div>
  </div>
  <div class="info-container" data-id="info-container"></div>
  <div data-id="chart-container"></div>
</div>
