<ul class="nav">
  <li class="nav-child" data-id="landing-button">Cities</li>
  <li class="nav-child" data-id="show-chart">Chart</li>
  <li class="nav-child" data-id="incident-count" data-count=500>Count: 500</li>
</ul>
<div class="content">
  <div class="map-container" data-id="map-container">
    <div class="map-canvas" data-id="map-canvas"></div>
  </div>
  <div class="info-container" data-id="info-container"></div>
  <div data-id="chart-container"></div>
</div>
