<div class="landing-button" data-id="landing-button">City Selection</div>
<div class="map-container">
  <div class="map-canvas" data-id="map-canvas"></div>
</div>
<div class="info-container" data-id="info-container"><div>
<div data-id="show-chart">Chart</div>
<div data-id="chart-container"></div>
